/* **** RESET CSS **** */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

/* **** ANIMATION CSS **** */

.animated {
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

/* slide-animation */

.slideInUp {
    animation-name: slideInUp;
}
@keyframes slideInUp {
    from {height: 300px;}
    to {height: 0;}
}
.slideInDown {
    animation-name: slideInDown;
}
@keyframes slideInDown {
    from {height: 0;}
    to {height: 300px;}
}

.hidden {
    animation-name: hideContent;
}
@keyframes hideContent {
    0% {opacity: 1; visibility: visible;}
    10% {opacity: 1; visibility: visible;}
    20% {opacity: 0; visibility: hidden;}
    100% {opacity: 0; visibility: hidden;}
}
.show {
    animation-name: showContent;
}
@keyframes showContent {
     0% {opacity: 0; visibility: hidden;}
    30% {opacity: 0; visibility: hidden;}
    40% {opacity: 0.2; visibility: visible;}
    100% {opacity: 1; visibility: visible;}
}

/* arrow */

.rotateClockwise {
    animation-name: rotate90;
}
@keyframes rotate90 {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}
.rotateCounterClockwise {
    animation-name: rotateMinus90;
}
@keyframes rotateMinus90 {
    from {transform: rotate(90deg);}
    to {transform: rotate(0deg);}
}
