/* Font - size */

$xsmall: 0.750em;
$small: 0.875em;
$medium: 1.125em;
$large: 1.500em;
$xlarge: 2.000em;
$epic: 3.000em;
$jumbo: 4.000em;

/* Font - family */

$basic: 'Merienda', cursive;
$decor: 'Courgette', cursive;

/* Theme - colors */

$green: hsl(87, 48%, 36%);
$light-green: hsl(85, 59%, 48%);
$black: hsl(206, 9%, 15%);
$gray: hsl(218, 5%, 29%);
$light-gray: hsl(206, 3%, 43%);
$white: hsl(0, 0%, 100%);
$whitish: hsl(217, 87%, 91%);
